<main id="globeTracker" class="flex items-center flex-col justify-center w-full min-h-screen p-4">
  <h1 class="text-2xl font-semibold mb-6">IP-TRACKER</h1>


  <div class="info flex flex-col lg:flex-row items-center lg:items-start  gap-4 justify-center w-full">
    <div id="globe" class="relative overflow-hidden"></div>
    <div class="detail-card w-full lg:w-80">
      <mat-card>
        <mat-card-content>
          <h2 class="text-2xl font-semibold mb-6">Detail</h2>

          <div class="mb-6" *ngIf="data.continent && !data.error">
            <div class="flex item-center justify-between">
              <span class="text-xl font-medium">continent:</span>
              <span>{{data.continent}}</span>
            </div>
            <div class="flex item-center justify-between">
              <span class="text-xl font-medium">country:</span>
              <span>{{data.country}}</span>
            </div>
            <div class="flex item-center justify-between">
              <span class="text-xl font-medium">countryCode:</span>
              <span>{{data.countryCode}}</span>
            </div>
            <div class="flex item-center justify-between">
              <span class="text-xl font-medium">currency:</span>
              <span>{{data.currency}}</span>
            </div>
            <div class="flex item-center justify-between">
              <span class="text-xl font-medium">isp:</span>
              <span>{{data.isp}}</span>
            </div>
            <div class="flex item-center justify-between">
              <span class="text-xl font-medium">regionName:</span>
              <span>{{data.regionName}}</span>
            </div>
            <div class="flex item-center justify-between">
              <span class="text-xl font-medium">timezone:</span>
              <span>{{data.timezone}}</span>
            </div>
          </div>
          <div class="mb-6 flex items-center justify-center" *ngIf="!data.continent && !data.error">
            <span>Chargement...</span>
          </div>
          <div class="mb-6 flex items-center justify-center" *ngIf="!data.continent && data.error">
            <span>Erreur... !</span>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <div class="input-wrapper flex  gap-1 justify-center w-full mt-6">
    <mat-form-field>
      <input matInput placeholder="Votre address ip" #ipInput [disabled]="ipAddress== 'Chargement...' || this.loading" value="{{ipAddress}}">
    </mat-form-field>
    <button mat-raised-button color="primary" *ngIf="ipAddress == ''" (click)="getCurrentIp()">Reessayer</button>
  </div>
</main>
