@media screen and (min-width: 1200px) {
  main{
    padding-left: calc(50% - 600px);
    padding-right: calc(50% - 600px);
  }
}
.canvas{
  @media screen and (max-width: 1024px) {
    margin-left: auto;
    margin-right: auto;
  }
  @media screen and (max-width: 500px) {
    width: 300px;
  }
}
